@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@font-face {
    font-family: 'TESLA';
    src: url("./fonts/TESLA.woff2") format("woff2");
}

h1,
.fancy-title,
.brand-logo {
    font-family: 'TESLA', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
a,
p,
div,
span {
    font-family: 'Nunito', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

nav {
    color: black;
    transition: background-color 0.5s ease;
}

.nav-wrapper li i.material-icons {
    font-size: 32px;
}

.parallax img {
    z-index: -1;
}

.parallax div {
    margin-top: 5%;
}

.main-parallax {
    margin-top: 84px;
    margin-left: 48px;
}

.main-parallax h2 {
    margin-top: 0;
    color: #000;
}

.main-parallax h4 {
    color: #000;
}

.big-home-btn {
    position: absolute;
    left: calc(15% + 40px);
    bottom: 50px;
    font-weight: 700;
    padding-left: 100px;
    padding-right: 100px;
}

.main-parallax-container {
    height: 75vh;
}

nav.clear.grey.darken-4 {
    background-color: rgba(0, 0, 0, 0) !important;
}

.second-parallax {
    height: 600px;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        font-size: 20px !important;
    }
    nav.clear div ul li a {
        color: #000;
    }
    .main-parallax-container {
        height: 650px;
    }
    .main-parallax {
        margin-top: 84px;
        margin-left: 16px;
    }
    .main-parallax h2 {
        font-size: 3rem;
        margin-top: 0;
        color: #000;
    }
    .main-parallax h4 {
        position: absolute;
        bottom: 90px;
        margin-left: -6px;
    }
    .big-home-btn {
        position: absolute;
        left: 16px;
        bottom: 32px;
        font-weight: 700;
        padding: 0;
        width: calc(100vw - 32px);
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
    .btn-with-bg {
        background-image: url(../img/badge-blur-2-min.jpg) !important;
    }
    .second-parallax {
        height: 400px;
    }
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: scale(1.25);
}

.container.row {
    margin-top: 20px;
}

.btn-with-bg {
    background-image: url(../img/badge-blur-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-with-bg .col {
    padding: 0;
    text-align: center;
    border: 1px white solid;
    height: 20vh;
}

.btn-with-bg div a {
    color: #fff;
    font-size: 16pt;
    width: 100%;
    font-weight: 700;
    padding: calc(10vh - 8pt) 0;
}

.hours td {
    padding: 10px 3px;
}

.parallax-container div.parallax-floating-box {
    background: white;
    padding: 40px 20px;
    margin-top: 200px;
}

.red {
    background-color: #FF1616 !important;
}

.red-text {
    color: #FF1616 !important;
}

.btn {
    margin-bottom: 5px;
    border-radius: 18px;
}

.btn-large {
    border-radius: 27px;
}

.social-buttons a {
    width: 60px;
}

main {
    min-height: 100vh;
}

nav .brand-logo {
    white-space: nowrap;
    font-size: 24px !important;
    margin-left: 12px;
    color: #000;
}

nav .menu-button {
    color: #000;
}

.homepage-nav a.btn {
    width: 100%;
}

.year {
    font-size: .75em;
}

.card-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 10px;
}

#inventory .card {
    margin: 0;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    #inventory {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        grid-auto-rows: minmax(100px, auto);
        margin-top: 10px;
    }
    #filter-bar {
        z-index: 100;
        width: 100%;
        top: 104px;
        padding: 0 10px;
        overflow: scroll;
    }
    #filter-bar .input-field {
        margin: 5px 0;
    }
}

.noUi-tooltip {
    font-size: 13px;
    border: 0;
    padding: 0;
    background: 0;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.noUi-target {
    height: 12px;
    margin: 32px 30px 0px 15px;
}

.noUi-connect {
    background: #FF1616;
}

.noUi-handle:after,
.noUi-handle:before {
    width: 0;
}

.checkbox-group label {
    display: block;
}

label span {
    color: rgb(92, 92, 92);
}

#filter-bar {
    padding: 10px;
    height: calc(100vh - 64px);
    position: fixed;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #FF1616;
    background-color: #FF1616;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #FF1616;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #FF1616;
}

.input-field input[type=text]:focus+label,
.input-field input[type=password]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=tel]:focus+label,
textarea.materialize-textarea:focus:not([readonly])+label,
.dropdown-content li>a,
.dropdown-content li>span {
    color: #FF1616 !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus,
.input-field input[type=tel]:focus,
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #FF1616 !IMPORTANT;
    box-shadow: 0 1px 0 0 #FF1616 !IMPORTANT;
}

.input-field .prefix.active {
    color: #FF1616 !IMPORTANT;
}

.imgs .col.s12.m6 {
    padding: 0;
}

.imgs .row .col.s12.m6:nth-child(1) {
    padding-right: 2px;
}

.imgs .row .col.s12.m6:nth-child(2) {
    padding-left: 2px;
}

.imgs .row {
    margin-bottom: 0;
}

#images a.btn {
    margin: -8px 3px;
}

.full-width-btns a.btn {
    width: 100%;
    display: block;
}

#page-1 {
    margin-top: 50px;
}

.model-selection a {
    font-family: 'TESLA', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 32pt;
    margin-top: 5px;
    width: 98pt;
}

.btn-row .col a {
    width: 100%
}

.loader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    top: 0;
    left: 0;
    padding: calc(40vh - 32px) calc(50vw - 32px);
}

div {
    transition: opacity ease 300ms;
}

.grecaptcha-badge {
    top: 80px !important;
}

.model-selection .col {
    padding: 0 3px;
}

.model-selection a {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 65px;
    border-radius: 16px;
    color: #fff;
}

nav a.sidenav-trigger {
    display: block !important;
}

table td a:not(:first-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.buy-links {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}