main {
    min-height: 100vh;
}
.brand-logo {
    white-space: nowrap;
}
.btn {
    margin: 5px 0;
}
.year {
    font-size: .75em;
}
.card-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
#inventory {
    display: flex;
    flex-wrap: wrap;
}
#inventory .col {
    display: flex;
    flex-direction: column;
}

#inventory .card {
    flex: 1;
    cursor: pointer;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ff8f00;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #ff8f00;
}
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
color: #ff8f00 !important ;
}
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
border-bottom: 1px solid #FF8F00 !IMPORTANT;
box-shadow: 0 1px 0 0 #FF8F00 !IMPORTANT;
}
.input-field .prefix.active {
color: #FF8F00 !IMPORTANT;
}

.imgs .col.s12.m6 {
    padding: 0;
}
.imgs .row .col.s12.m6:nth-child(1) {
    padding-right: 2px;
}
.imgs .row .col.s12.m6:nth-child(2) {
    padding-left: 2px;
}
.imgs .row {
    margin-bottom: 0;
}
#images a.btn {
    margin: -8px 3px;
}