@font-face {
    font-family: 'Gotham';
    src: url("./fonts/GothamMedium.woff2") format("woff2");
}

@font-face {
    font-family: 'TESLA';
    src: url("./fonts/TESLA.woff2") format("woff2");
}

h1,
.fancy-title {
    font-family: 'TESLA', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h2,
h3,
h4,
h5,
h6,
a,
p,
div {
    font-family: 'Gotham', Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.nav-wrapper li i.material-icons {
    font-size: 32px;
}

.parallax img {
    z-index: -1;
}

.parallax div {
    margin-top: 5%;
}

.main-parallax div h2 {
    margin-top: 0;
}

.main-parallax div {
    margin-top: 20px;
}

.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: scale(1.25);
}

.big-home-btn {
    position: absolute;
    left: calc(15% + 80px);
    bottom: 50px;
    font-weight: 700;
    padding-left: 100px;
    padding-right: 100px;
}

.btn-with-bg {
    background-image: url(../img/cinematic/badge-blur.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-with-bg .col {
    padding: 10vh 0;
    text-align: center;
    border: 1px white solid;
}

.btn-with-bg a {
    color: white;
    font-size: 16pt;
    font-weight: 700;
}

.hours td {
    padding: 10px 3px;
}

.parallax-container div.parallax-floating-box {
    background: white;
    padding: 40px 20px;
    margin-top: 200px;
}

.red {
    background-color: #FF1616 !important;
}

.red-text {
    color: #FF1616 !important;
}

.btn {
    margin-bottom: 5px;
}

.social-buttons a {
    width: 60px;
}

main {
    min-height: 100vh;
}

.brand-logo {
    white-space: nowrap;
}

.homepage-nav a.btn {
    width: 100%;
}

.year {
    font-size: .75em;
}

.card-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#inventory {
    display: flex;
    flex-wrap: wrap;
}

#inventory .col {
    display: flex;
    flex-direction: column;
}

#inventory .card {
    flex: 1;
    cursor: pointer;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #D32F2F;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #D32F2F;
}

.input-field input[type=text]:focus+label,
.input-field input[type=password]:focus+label {
    color: #D32F2F !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid #D32F2F !IMPORTANT;
    box-shadow: 0 1px 0 0 #D32F2F !IMPORTANT;
}

.input-field .prefix.active {
    color: #D32F2F !IMPORTANT;
}

.imgs .col.s12.m6 {
    padding: 0;
}

.imgs .row .col.s12.m6:nth-child(1) {
    padding-right: 2px;
}

.imgs .row .col.s12.m6:nth-child(2) {
    padding-left: 2px;
}

.imgs .row {
    margin-bottom: 0;
}

#images a.btn {
    margin: -8px 3px;
}